frontend/.next/*
frontend/node_modules
backend/node_modules
infra/terraform/environments/dev/terraform.*
infra/terraform/environments/dev/.terraform*
infra/terraform/environments/prod/terraform.*
infra/terraform/environments/prod/.terraform*
infra/terraform/environments/staging/terraform.*
infra/terraform/environments/staging/.terraform*