src/frontend/.next/*
src/frontend/node_modules
src/backend/api/node_modules
infra/terraform/environments/dev/us-east-1/terraform.tfstate*
infra/terraform/environments/dev/us-east-1/.terraform*
infra/terraform/environments/dev/us-west-2/terraform.tfstate*
infra/terraform/environments/dev/us-west-2/.terraform*
infra/terraform/environments/prod/us-east-1/terraform.tfstate*
infra/terraform/environments/prod/us-east-1/.terraform*
infra/terraform/environments/prod/us-west-2/terraform.tfstate*
infra/terraform/environments/prod/us-west-2/.terraform*
infra/terraform/environments/staging/us-east-1/terraform.tfstate*
infra/terraform/environments/staging/us-east-1/.terraform*
infra/terraform/environments/staging/us-west-2/terraform.tfstate*
infra/terraform/environments/staging/us-west-2/.terraform*